#root {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch; /* changed for better layout flow */
  justify-content: flex-start;
}

html {
  scroll-behavior: smooth !important;
}
